<!DOCTYPE html>
<html>
	<head>
		<title>Noughts and crosses</title>
      <link rel="stylesheet" type="text/css" href="/css/reset.css">
      <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
	<body>
		<h1 id="logo">Noughts & Crosses</h1>
		<%= yield %>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/interface.js"></script>
	</body>

</html>