<h2>Welcome, lets play!!!</h2>
<input id="choice" type="text" name="Make your choice" placeholder="Make your choice">
<input id="submit" type="submit" name="Submit">
<table id="board" border="2px">

  <tr>
    <td id="1">1</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>4</td>
    <td>5</td>
    <td>6</td>
  </tr>
  <tr>
    <td>7</td>
    <td>8</td>
    <td>9</td>
  </tr>

</table>