<section id="page">
  <section id="user-communication">
    <h2 id="welcome-message">Welcome, lets play!!!</h2>
    <p id="prompt-to-make-a-choice">Please make a choice</p>
    <article id="user-input">
      <select id="choice" name="Make your choice">
        <option id="option1">1
        <option id="option2">2
        <option id="option3">3
        <option id="option4">4
        <option id="option5">5
        <option id="option6">6
        <option id="option7">7
        <option id="option8">8
        <option id="option9">9
    </article>
    <input id="submit" type="submit" name="Submit">
    <div id="dialog">
      <h3 id="winner"></h3>
    </div>
    
    <h4 id="message">It's your turn. Choose wisely :)</h4>
  </section>
  <section id="board-section">
    <table id="board">
      <tr>
        <td id="1">1</td>
        <td id="2">2</td>
        <td id="3">3</td>
      </tr>
      <tr>
        <td id="4">4</td>
        <td id="5">5</td>
        <td id="6">6</td>
      </tr>
      <tr>
        <td id="7">7</td>
        <td id="8">8</td>
        <td id="9">9</td>
      </tr>
    </table>
  </section>
</section>