<h2>Welcome, lets play!!!</h2>
<input id="choice" type="text" name="Make your choice" placeholder="Make your choice">
<input id="submit" type="submit" name="Submit">
<h3></h3>
<table id="board" border="2px">
  <tr>
    <td id="1">1</td>
    <td id="2">2</td>
    <td id="3">3</td>
  </tr>
  <tr>
    <td id="4">4</td>
    <td id="5">5</td>
    <td id="6">6</td>
  </tr>
  <tr>
    <td id="7">7</td>
    <td id="8">8</td>
    <td id="9">9</td>
  </tr>

</table>